*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

main{
    background-image: linear-gradient(orange,red);
}
 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: darkorange; */
 }
 .container-fav{
    display: flex;
    flex-direction: column;
    /* background-color: darkorange; */
 }
 .image-box{
    display: flex;
    justify-content: center;
 }
.image-box img{
    width: 30%;
    height: 60%;
    border-radius: 8px;
}
.imagem-topico{
    width: 10%;
    height: 10%;
    border-radius: 8px;
}
.titulo{
    display: flex;
    color: white;
    border-radius: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.texto{
    display: flex;
    flex-direction: column;
}
.text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    /* width: 80rem; */
    color: white;
}


